<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623290237634-7j3eiaai2qgcmudccbgbh4i0kfq5nbe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623290237634-7j3eiaai2qgcmudccbgbh4i0kfq5nbe1</string>
      <key>NSCameraUsageDescription</key>
<string>$(PRODUCT_NAME) Camera Usage!</string>
<key>NSMicrophoneUsageDescription</key>
<string>$(PRODUCT_NAME) Microphone Usage!</string>
	<key>API_KEY</key>
	<string>AIzaSyAyCbc6RWTfYTootoD2fl6HVtvd9_blGGI</string>
	<key>GCM_SENDER_ID</key>
	<string>623290237634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auth</string>
	<key>PROJECT_ID</key>
	<string>tdahfirst-mhvs</string>
	<key>STORAGE_BUCKET</key>
	<string>tdahfirst-mhvs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623290237634:ios:1ac8c69cc0fdc91138f15b</string>
</dict>
</plist>